<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}"/>
    {% include 'inc/_head' %}
    {% include 'inc/_meta' %}
    <style>
        .md-layout{
            border:1px grey solid!important;
        }
    </style>
</head>
<body>
<div id="app">
    <header>
        {% include 'inc/_footer' %}
        <md-toolbar>
            <h1 class="md-title">{% if title is defined %}{{ title }}{% else %}{{ siteName }}{% endif %}</h1>
        </md-toolbar>
    </header>
    ${message}
    <content>
        {% block content %}
        {% endblock %}
    </content>
    <footer>
        {% include 'inc/_footer' %}
    </footer>
</div>
{% include 'inc/_scripts' %}
</body>
</html>
