<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}"/>
    {% include 'inc/_head' %}
    {% block styles %}{% endblock %}
    {% include 'inc/_meta' %}
    <style>
        #app {
            width: 100%;
            display: block;
            margin: 0;
            padding: 0;
        }

        content {
            display: block;
            height: 700px;
        }

        body {
            min-height: 100%;
            margin: 0;
            padding: 0;
        }

        footer {
            display: block;
            min-height: 240px;
            background-color: #f0f0f0;
        }

        .container {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width: 1280px) {
            .container {
                width: 1200px;
            }
        }
    </style>
</head>
<body>
<div id="app">

    <header>
        {#<md-toolbar>#}
        {#<h1 class="md-title">{% if title is defined %}{{ title }}{% else %}{{ siteName }}{% endif %}</h1>#}
        {#</md-toolbar>#}


        <md-toolbar class="md-large md-primary">
            <div class="md-toolbar-container">
                <md-button class="md-icon-button">
                    <md-icon>menu</md-icon>
                </md-button>

                <span style="flex: 1;"></span>

                <md-button class="md-icon-button">
                    <md-icon>search</md-icon>
                </md-button>

                <md-button class="md-icon-button">
                    <md-icon>filter_list</md-icon>
                </md-button>
            </div>

            <div class="md-toolbar-container">
                <h2 class="md-title">{% if title is defined %}{{ title }}{% else %}{{ siteName }}{% endif %}</h2>
            </div>
            {#<div class="md-toolbar-container">#}
                {#<md-tabs md-fixed>#}
                    {#<md-tab id="movies" md-label="Movies">#}
                    {#</md-tab>#}

                    {#<md-tab id="music" md-label="Music">#}
                    {#</md-tab>#}

                    {#<md-tab id="books" md-label="Books">#}
                    {#</md-tab>#}

                    {#<md-tab id="pictures" md-label="Pictures">#}
                    {#</md-tab>#}
                {#</md-tabs>#}
            {#</div>#}
        </md-toolbar>
        <md-tabs md-right md-elevation>
            <md-tab id="movies" md-label="Movies">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas amet cum vitae, omnis! Illum quas voluptatem, expedita iste, dicta ipsum ea veniam dolore in, quod saepe reiciendis nihil.</p>
            </md-tab>

            <md-tab id="music" md-label="Music">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas amet cum vitae, omnis! Illum quas voluptatem, expedita iste, dicta ipsum ea veniam dolore in, quod saepe reiciendis nihil.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas amet cum vitae, omnis! Illum quas voluptatem, expedita iste, dicta ipsum ea veniam dolore in, quod saepe reiciendis nihil.</p>
            </md-tab>

            <md-tab id="books" md-label="Books">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas.</p>
            </md-tab>

            <md-tab id="pictures" md-label="Pictures" md-tooltip="This is the pictures tab!">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas.</p>
            </md-tab>
        </md-tabs>


        <hr/>
        {#{{ craft.navee.nav('menuTop') }}#}
        {% set navConfig = {
        'breadcrumbs' : true,
        } %}
        {{ craft.navee.nav('menuTop', navConfig) }}
        <hr/>

        <div class="breadcrumbs">breadcrumbs</div>
        <h1>{{ "News" | translate }}</h1>
        <hr/>

        <h1 class="title--page">{{ pageTitle | default('var is not defined') }}</h1>

        <hr/>

        <submenu>
            {% if entry is defined %}
                {% set currentCategoryIds = craft.categories.relatedTo(entry).ids() %}
                {% set currentCategoryGroup = craft.categories.relatedTo(entry).first().getGroup() %}
            {% elseif category is defined %}
                {% set currentCategoryIds = [category.id] %}
                {% set currentCategoryGroup = category.getGroup() %}
            {% else %}
                {% set currentCategoryIds = [] %}
            {% endif %}

            {% nav cat in craft.categories.group(currentCategoryGroup.handle) %}
            {% set class = cat.id in currentCategoryIds ? 'active' : '' %}
            {#{% set entryCount = craft.entries.relatedTo(cat).total() %}#}

            <li><a href="{{ cat.url }}" class="{{ class }}">{{ cat.title }}</a></li>

            {% endnav %}
        </submenu>

    </header>


    <hr/>

    <content>
        {% block content %}
        {% endblock %}
    </content>


    <hr/>

    <div class="pager"></div>

    <footer>
        {% include 'inc/_footer' %}
    </footer>

</div>
{% include 'inc/_scripts' %}
</body>
</html>
