{#{% spaceless %}#}
    <!DOCTYPE html>
    <html>
    {#{% cache %}#}
    {% if headerProvider =='entry' %}
        {% set prov = entry %}
    {% elseif headerProvider =='category' %}
        {% set prov = category %}
    {% else %}
    {% endif %}

    {% set headerTitle = prov.title %}

    {% if prov.styleImg|length %}
        {% set headerImg = prov.styleImg.first().getUrl('resizeHeader') %}
    {% endif %}

    {% if prov.styleIcon %}
        {% set headerIcon = prov.styleIcon %}
    {% endif %}

    {% if prov.styleIconAlign %}
        {% set headerIconAlign = prov.styleIconAlign %}
    {% endif %}
    {#{% endcache %}#}
    {% cache %}
    <head>
        {% include 'inc/_head' %}
        {% include 'inc/_meta' %}
    </head>
    {% endcache %}
    <body>

    <div class="main-content" id="app">

        {{ include ("inc/_sidenav_list-collapse.html") }}
        {{ include ("form/_feedback-side.html") }}
        <transition name="fade" appear>
            {{ include ("header/_header.html") }}
        </transition>
        {#<md-button @click.native="show = !show">show</md-button>#}

        {#<transition name="fade" appear>#}
        <div class="page-content">
            {% block content %}
            {% endblock %}
        </div>
        {#</transition>#}

        {#<swiper>#}
        {#<swiper-slide>Slide 1</swiper-slide>#}
        {#<swiper-slide>Slide 2</swiper-slide>#}
        {#<swiper-slide>Slide 3</swiper-slide>#}
        {#<swiper-slide>Slide 4</swiper-slide>#}
        {#<swiper-slide>Slide 5</swiper-slide>#}
        {#<swiper-slide>Slide 6</swiper-slide>#}
        {#<swiper-slide>Slide 7</swiper-slide>#}
        {#<swiper-slide>Slide 8</swiper-slide>#}
        {#<swiper-slide>Slide 9</swiper-slide>#}
        {#<swiper-slide>Slide 10</swiper-slide>#}
        {#</swiper>#}


        {% block pager %}
        {% endblock %}

        {% block aside %}
            <section>

            </section>
        {% endblock %}

        {#{% include('inc/_speed-dial.html') %}#}

        <footer class="page-footer">
            {% include 'inc/_footer' %}
        </footer>

    </div>
    {% include 'inc/_scripts' %}
    </body>
    </html>
{#{% endspaceless %}#}