


article, .article {
  position: relative;
}

.article-info {
  span, a, i {
    opacity: 0.78;
    font-weight: 500;
  }
  .page-header & {
    span, a, i {
      opacity: 0.87;
    }
  }
  span {
    margin-right: 24px;
  }
  .md-icon {
    opacity: 0.4;
  }
  [class^="col"], [class*="col-"] {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .md-icon-button:last-child {
    margin-right: 0;
  }
}

.article {
  padding-top: 40px;
  .p-v-s, .p-v, .p-v- {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}

.article-list {
  padding-top: 0;
  z-index: 2;
  margin-top: -40px;
  background-color: #fff;
  .html-content, .section-title {
    padding-left: 20px;
    padding-right: 20px;
    @include layout-small-and-up {
      padding-left: 24px;
      padding-right: 24px;
    }
    @include layout-medium-and-up {
      padding-left: 72px;
      padding-right: 72px;
    }
  }
  .article-info {
    padding-left: 24px;
    .md-icon-button:last-child {
      margin-right: 8px;
    }
  }
}

.article-short .html-content{
  margin-top: 40px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color:rgba(#000,0.94);
}

article .content {
  .section:first-child {
    padding-top: 8px !important;
    @include layout-xsmall-and-up{
      padding-top: 24px !important;
    }
  }
  .ctr {
    padding-left: 0;
    padding-right: 0;
  }
  .md-list{
    background-color: transparent;
  }
}

.article-image{
  img{
    width:100%;
    max-width:100%;
  }
  margin-bottom:24px;
}

.event-options {
  //padding-top:24px;
  //background-color: #f0f0f0;
  display: block;
  .md-icon {
    opacity: 0.5;
    margin-right: 16px;
  }
  .event-date, .event-place {
    @include layout-small-and-up {
      //padding-left:40px;
    }
  }
}

