.cards-b-20 {
  .md-card {
    margin-bottom: 20px;
  }
}

.cards-t-20 {
  .md-card {
    margin-bottom: 20px;
  }
}

.cards-v-20 {
  .md-card {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.cards-h-20 {
  .md-card {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.md-gutter-40{
  .cards-m-v{
    .md-card {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .cards-m-b{
    .md-card {
      margin-bottom: 20px;
    }
  }
  .cards-m-t{
    .md-card {
      margin-top: 20px;
    }
  }
}



.md-card {
  width: 100%;
  border-radius: 0px;
  a {
    color: inherit !important;
    text-decoration: none !important;
  }
  .md-card-media {
    background-size: cover;
    background-position: center top;
    a.cover-link {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  .md-title{
    font-size:18px;
    line-height: 1.4;
  }
  .md-subhead{
    margin-top:4px;
  }
}



a.md-subhead,a.md-title{
  display:block;
}


.md-card .md-card-media-cover.md-text-scrim .md-card-backdrop {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.24) 80%, rgba(0, 0, 0, 0.48) 100%) !important;
}

.md-card .md-card-content.no-p {
  padding: 0;
}

.md-card {
  .md-title {
    //margin-bottom: 0.5em;
  }
  .md-card-content, .md-card-header {
    //padding-left: 24px;
    //padding-top: 24px;
    //padding-right: 24px;
  }
}

.card--doc {
  .md-card-area {
    min-height: 240px;
  }
  .md-card-media {
    min-height: 170px;
  }
}

.card--news {
  .md-card-media {
    height: 200px;
  }
  .md-title {
    //font-size:16px;
  }
}

.card-icon {
  width:80px;
  height:80px;
  //background:#eee;
  flex:0;
  display:inline-block;
  text-align:center;
}

.card-icon svg {
  height: 100% !important;
  width: auto !important;
  line, path, rect, circle, polygon, ellipse, polyline {
    stroke-width: 3px !important;
    stroke: #ccc !important;
  }
}

.swiper--cards {
  .swiper-slide {
    width: auto;
    //padding:40px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .md-card {
      transform: translateZ(0);
      width: 280px;
      margin: 20px;
    }
  }
}