//.page-header {
//  .md-toolbar {
//    flex-flow: column nowrap;
//    justify-content: space-between;
//  }
//  .title-container {
//    flex: 0;
//  }
//}

#navbar.is-fixed{
  position:fixed;
}

#navbar {
  width: 100%;
  height: 64px;
  position: absolute;
  left: 0;
  top: 0;
  @include layout-medium-and-up {
    padding-left: 8px;
    padding-right: 8px;
  }
}

#logo {
  position: relative;
  //background: red;
  display: block;
  min-height: 64px;
  min-width: 64px;
}

.logo {
  position: absolute;
  left: 18px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  z-index: 5;
  display: block;
  //background-color: green;
}

.logo-m {
  width: 64px;
  height: 64px;
  top: 4px;
}

.logo-l {
  width: 128px;
  top: 12px;
}

@include layout-medium-and-up {

}

.page-header {
  .md-toolbar {
    flex-direction: column;
    justify-content: flex-end;
    min-height: 256px;
  }
  display: block;
}

.header-container {
  position: relative;
  min-height: 64px;
  [class*='col']{
    padding-bottom:0;
    padding-top:0;
  }
}

.md-toolbar {
  .toolbar-nav {
    margin-right: 40px;
    .md-button {
      margin: 0 8px;
      padding: 0;
      min-width: auto;
      flex-grow: 0;
      border-radius: 0;
      font-family: 'Roboto Mono', monospace;
    }
    .md-button:not([disabled]):not(.md-raised):not(.md-icon-button):not(.md-fab) {
      font-family: 'Roboto Mono', monospace;
      box-sizing: border-box;
      transition: border 0s;
      border-bottom: 2px solid transparent;
      &:hover {
        background-color: transparent;
        border-bottom: 2px solid white;
      }
    }
    .md-menu-contanet {
      font-size: 14px;
    }
  }
}

.md-tabs.tab-links {
  .md-tabs-navigation {
    background-color: transparent !important;
  }
  .md-tabs-navigation-container {
    -webkit-overflow-scrolling: touch;
  }
  .md-tabs-content {
    display: none !important;
  }
}

.header-submenu {
  min-height: 64px;
  //background-color: red;
  margin-left: -20px;
  margin-right: -20px;
  @include layout-small-and-up {
    margin-left: -28px;
    margin-right: -28px;
  }
  @include layout-medium-and-up {
    margin: 0;
  }
}

.nav-menu {
  display: none;
  @include layout-medium-and-up {
    display: flex;
  }
  height: 64px;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: center;
  margin: 0 40px;
  > a, > .md-menu {
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
  }
  > a, > .md-menu > [md-menu-trigger] {
    font-family: 'Roboto Mono', Roboto, sans-serif;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.98);
    &:hover {
      color: rgba(255, 255, 255, 0.98);
    }
  }
}

.md-menu-content.md-size-auto{
  width:auto;
  max-width:none;
  min-width:240px;
  font-size: 15px!important;
}



.md-fab-header{
  position:absolute;
  z-index:10;
  right:0;
  bottom:-34px;
}