.quote {
  opacity:0;
  transition:opacity 1s ease-in-out;
  margin-top: 20px;
  padding: 0 20px;
  .swiper-slide-active &{
    opacity:1;
  }
  .quote-text {
    text-align: center;
    //color:#777;
    position:relative;
    font-family: Georgia,"Times New Roman";
    font-style: italic;
    font-size: 16px;
    line-height: 2em;
    margin-bottom: 20px;
    &:before{
      //content:'"';
      //font-family:times;
      //position:absolute;
      //left:0px;
      //top:-20px;
      //color:rgba(#000,0.075);
      //z-index:-1;
      //font-size:200px;
      //line-height:1;
    }
  }
  .author {
    font-size:13px;
    display: block;
    text-align: right;
    font-weight: 400;
  }
  @include layout-small-and-up {
    .quote-text {
      font-size: 18px;
    }
    max-width: 740px;
    margin: 20px auto 0 auto;
  }
}