.wrapper{
  width:100%;
  display:block;
  &:before,&:after{
    display: table;
    content:''
  }
}

//.md-container{
//  width:100%;
//  max-width:1200px;
//  padding-left:40px;
//  padding-right:40px;
//}
//.md-centered{
//  margin:0 auto;
//}

.md-layout.md-block{
  display:block;
}

.section {
  display: block;
  width: 100%;
  &:before,&:after{
    display: table;
    content:''
  }
  //background-color: #f7f7f7;
  //padding: 40px 0;
  //> .md-layout {
  //  background-color: #ccc;
  //}
}