.wrapper {
  width: 100%;
  display: block;
  &:before, &:after {
    display: table;
    content: ''
  }
}

.section {
  display: block;
  width: 100%;
  position:relative;
  z-index: 1;
  &:before, &:after {
    display: table;
    content: ''
  }
}

.md-block {
  display: block!important;
}


.section-title {
  margin-bottom: 20px;
}



.page-content {

}




.page-footer{
  margin-top:100px;
  width:100%;
  background-color:#eee;
  min-height:100px;
}