@import "./../node_modules/vue-material/src/core/stylesheets/variables.scss";
@import "./../node_modules/vue-material/src/core/stylesheets/mixins.scss";


.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease 0.2s;
  //transform: translateY(0);
}

.fade-enter, .fade-leave-to /* .fade-leave-active для <2.1.8 */
{
  opacity: 0;
  //transform: translateY(200px);
}

@import "bti_colors";
@import "grid/gridlex.scss";
@import "paddings";
@import "section";
@import "blocks";
@import "video";
@import "height";
@import "promo";
@import "navbar";
@import "sidebar";
@import "card";
@import "page";
@import "titles";
@import "lists";
@import "text";
@import "swiper";
@import "quotes";
@import "ani";
@import "article";
@import "feedback";
@import "dialog";
@import "nav-link";
@import "infographic";
@import "html-content";
@import "chip";
@import "collapse";


[class*='-icon']:not(.md-icon) svg {
  line, path, rect, circle, polygon, ellipse, polyline {
    fill: none!important;
    vector-effect: non-scaling-stroke !important;
  }
}

//@import "var";

html,
body {
  height: 100%;
  overflow: hidden;
}

.swiper-slide{
  *{box-sizing: border-box}
}

body{
  position:relative;
  background-color:#fafafa!important;
}

a{
  color:inherit;
  text-decoration: none;
  &:hover,&:active,&:focus{
    text-decoration: none;
    opacity:1!important;
  }
}

.md-sec{
  font-size:14px;
  opacity:0.54;
}



