{% spaceless %}
    <md-list>
        {% if not (tel1 or tel2) %}
            <md-divider class="md-inset"></md-divider>
            <md-list-item href="tel:{{ globalContacts.contactTel1 | replace (' ','') }}">
                <md-icon>phone</md-icon>
                <span>{{ globalContacts.contactTel1 }}</span>
            </md-list-item>
        {% endif %}
        {% if tel1 %}
            <md-divider class="md-inset"></md-divider>
            <md-list-item href="tel:{{ tel1 }}">
                <md-icon>phone</md-icon>
                <span>{{ tel1 }}</span></md-list-item>
        {% endif %}
        {% if tel2 %}
            <md-divider class="md-inset"></md-divider>
            <md-list-item href="tel:{{ tel2 }}">
                <md-icon>phone</md-icon>
                <span>{{ tel2 }}</span></md-list-item>
        {% endif %}
        <md-divider class="md-inset"></md-divider>
        <md-list-item href="mailto:{{ email ? email ~ ',' | replace (' ','') }}{{ globalContacts.contactEmail | replace (' ','') }}">
            <md-icon>email</md-icon>
            <span>{{ email ? email : globalContacts.contactEmail }}</span>
        </md-list-item>
    </md-list>
{% endspaceless %}