<link href="http://localhost:3000/dist/main.css" rel="stylesheet"/>
{#<link href="{{ craft.config.environmentVariables.baseUrl }}assets/styles/vue-material.css" rel="stylesheet"/>#}
{#<link href="{{ craft.config.environmentVariables.baseUrl }}assets/styles/vue-material.css" rel="stylesheet"/>#}
{#<link href="{{ craft.config.environmentVariables.baseUrl }}assets/styles/custom.css" rel="stylesheet"/>#}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="home" href="{{ siteUrl }}"/>