{#{% cache %}#}
{% set cthemes =  craft.entries.section('themes') %}
{% spaceless %}
    <script>
        window.themes = {
            default: {
                primary: {
                    color: 'grey',
                    hue: 700
                },
                accent: {
                    color: 'blue',
                    hue: 400
                }
            },
            white: {
                primary: {
                    color: 'white',
                    hue: 500
                }
            },
            {% for t in cthemes %}
            ct{{ t.id }}: {
                primary: {
                    {% if t.primaryColor|length %} color: '{{ t.primaryColor }}', {% endif %}
                    {% if t.primaryColor|length %} hue: {{ t.primaryHue }} {% endif %}
                },
                accent: {
                    {% if t.accentColor|length %} color: '{{ t.accentColor }}', {% endif %}
                    {% if t.accentColor|length %} hue: {{ t.accentHue }} {% endif %}
                },
                warn: {
                    {% if t.warnColor|length %} color: '{{ t.warnColor }}', {% endif %}
                    {% if t.warnHue|length %} hue: {{ t.warnHue }} {% endif %}
                },
                background: "white"
            },
            {% endfor %}
        };
        window.theme = '{{ headerTheme }}';



        {% set persons = craft.entries.section('persons') %}
        window.persons=[
        {% for person in persons %}
        {"id":{{ person.id }},"fname":"{{ person.personFirstname }}","url":"{{ person.url }}"},
        {% endfor %}
        ];

        {% set branches = craft.entries.section('branches') %}
        window.branches=[
            {% for item in branches %}
            {"id":{{ item.id }},"fname":"{{ item.title }}"},
            {% endfor %}
        ];

        {% set services = craft.entries.section('services').level(1) %}
        window.services=[
            {% for item in services %}
            {"id":{{ item.id }},"fname":"{{ item.title }}"},
            {% endfor %}
        ];

    </script>
{% endspaceless %}
{#{% endcache %}#}