{% if entry.pageMatrix is defined %}
    {% for block in entry.pageMatrix %}

        {% set bTheme = block['blockTheme'] is defined and block.blockTheme|length ? 'md-theme-ct' ~ block.blockTheme[0].id : '' %}
        {% set bPadding = block['blockPaddingV'] is defined and block.blockPaddingV is not empty ? 'p-v-' ~ block.blockPaddingV : 'p-v-s' %}
        {% set bMargin = block['blockMarginV'] is defined and block.blockMarginV is not empty ? 'm-v-' ~ block.blockMarginV : 'm-v-s' %}
        {% set bIcon = block['blockIcon'] is defined and block.blockIcon is not empty ? block.blockIcon %}
        {% set bTitle = block['blockTitle'] is defined and block.blockTitle is not empty ? block.blockTitle %}
        {% set bContainer = block['blockContainer'] is defined and block.blockContainer == 1 ? 1 : 0 %}
        {% set bRequest = block['blockRequest'] is defined and block.blockRequest == 1 ? 1 : 0 %}
        {% set bLink = block['blockLink'] is defined and block.blockLink|length ? block.blockLink %}
        {% set iconTheme = block['blockIconTheme'] is defined and block.blockIconTheme|length ? block.blockIconTheme[0] %}
        {% set mono = block['blockTheme'] is defined and block.blockTheme|length ? 'multi' : 'icon--mono' %}

        <section class="section {{ bPadding }} {{ bMargin }} {{ bTheme }}">

            {% if iconTheme %}
                <div class="block-icon bg-icon {{ mono }} icon-color--{{ iconTheme.styleIconColor and bTheme != '' ? iconTheme.styleIconColor : 'ht' }} scale--{{ iconTheme.styleIconSize | default('x1') }} icon-sw--{{ iconTheme.styleIconLine | default('x1') }} icon-ani--{{ iconTheme.styleIconAnimation | default('draw') }} animated align--{{ iconTheme.styleIconAlign | default('left') }} valign--{{ iconTheme.styleIconAlignV | default('bottom') }}">{{ iconTheme.styleIcon ? iconTheme.styleIcon.inline }}</div>
            {% endif %}

            {% if bTitle %}
            <md-layout class="md-container md-centered" md-gutter="40">
                <md-layout>
                    <div class="wrapper t-color">
                        <div class="md-title section-title">{{ bTitle }}</div>
                    </div>
                </md-layout>
            </md-layout>
            {% endif %}

            {% if bContainer == 1 %}
            <md-layout class="md-container md-centered" md-gutter="40">
            {% endif %}


                {% if block.type == "sectionBanners" %}
                    {#{% include "block/_section-start.html" %}#}
                    {% set banners = block.relatedItems|length ? block.relatedItems %}
                    {% if banners is defined and banners|length > 1 %}
                        {% include "banners/_swiper.html" with {'banners':banners} %}
                    {% elseif block.relatedItems|length == 1 %}
                        {% set many = false %}
                        {% set banner = banners[0] %}
                        {% include "banners/_block.html" with {'banner':banner} %}
                    {% endif %}
                    {#{% include "block/_section-stop.html" %}#}
                {% endif %}


                {% if block.type == "sectionHtml" and (block.blockTitle or block.blockContent) %}
                    {#{% include "block/_section-start.html" %}#}
                    {% if block.blockContent %}
                        <md-layout>
                            <div class="wrapper">
                                <div class="section-content html-content t-color">{{ block.blockContent }}</div>
                            </div>
                        </md-layout>
                    {% endif %}
                    {#{% include "block/_section-stop.html" %}#}
                {% endif %}

                {% if block.type == "sectionExperts" and block.blockContent|length %}
                    {#{% include "block/_section-start.html" %}#}
                    {% if block.blockContent|length %}
                        {% set persons = block.blockContent %}
                            {% include "persons/_list-cards.html" %}
                        {#{% include('persons/_swiper-cards.html') %}#}
                    {% endif %}
                    {#{% include "block/_section-stop.html" %}#}
                {% endif %}

                {% if block.type == "sectionImages" and block.blockContent|length %}
                    {% set images = block.blockContent %}
                    {% include "block/_section-start.html" %}
                    <div class="wrapper">
                        {% if block.blockContent|length == 1 %}
                            {% set img = images[0] %}
                            {% include "images/_image.html" %}
                        {% else %}
                            {% include "images/_swiper.html" %}
                        {% endif %}
                    </div>
                    {% include "block/_section-stop.html" %}
                {% endif %}


                {% if block.type == "sectionServices" %}
                    <md-layout class="md-container md-centered" md-gutter="40">
                        <md-layout>
                            {% if block.blockTitle %}
                                <div class="md-title section-title">{{ block.blockTitle }}</div>{% endif %}
                            {% if block.blockServices == 1 and entry.relatedServices|length %}
                                {% set services = entry.relatedServices %}
                                <md-layout class="cards-m-v" md-gutter="40" md-row>
                                    {% for item in services %}
                                        <md-layout md-flex-xsmall="100" md-flex-small="50" md-flex-medium="50" md-flex-large="33" md-flex-xlarge="33">
                                            <md-card class="card-ripple" md-with-hover>
                                                <md-card-header>
                                                    {#<md-ink-ripple/>#}
                                                    <md-card-header-text>
                                                        <a class="md-title" href="{{ item.url }}">{{ item.title }}</a>
                                                        <a class="md-subhead" href="{{ item.url }}">Description</a>
                                                    </md-card-header-text>
                                                    <md-card-media>
                                                        {% if item.styleIcon %}
                                                            <a class="card-icon" href="{{ item.url }}">{{ item.styleIcon.inline }}</a>
                                                        {% endif %}
                                                    </md-card-media>
                                                </md-card-header>
                                                <md-card-actions>
                                                    {#<md-button href="{{ item.url }}">Ознакомиться</md-button>#}
                                                    <md-button href="{{ item.url }}" class="md-icon-button">
                                                        <md-icon>chevron_right</md-icon>
                                                    </md-button>
                                                </md-card-actions>
                                            </md-card>
                                        </md-layout>
                                    {% endfor %}
                                </md-layout>
                            {% endif %}
                        </md-layout>
                    </md-layout>
                {% endif %}


                {% if bContainer == 1 %}
            </md-layout>
            </md-layout>
            {% endif %}
            {% if bLink|length or bRequest == 1 %}
            <md-layout class="md-container md-centered" md-gutter="40">
                <md-layout>
                    <div class="wrapper block-actions">
                        {% for item in bLink %}
                            <md-button class="md-raised" href="{{ item.url }}">{{ item.title }}</md-button>
                        {% endfor %}
                        {% if bRequest ==1 %}
                            <md-button class="md-raised" @click.native="toggleRightSidenav">{{ 'Send Request'|t }}</md-button>
                        {% endif %}
                    </div>
                </md-layout>
                {#</md-layout>#}
                {% endif %}
        </section>


    {% endfor %}
{% endif %}
