
{% if matrix is defined %}
    {#{% if matrix.blocks|length>1 %}<md-tabs class="md-transparent tabs-inline tabs-full- tabs-no-border- tabs-mono-">{% endif %}#}
    {% for block in matrix %}

        {% set bTheme = block['blockTheme'] is defined and block.blockTheme|length ? 'md-theme-ct' ~ block.blockTheme[0].id : '' %}
        {% set pTheme = block['blockPad'] is defined and block.blockPad|length ? block.blockPad[0] %}

        {#{% set bPadding = block['blockPaddingV'] is defined and block.blockPaddingV is not empty ? 'p-v-' ~ block.blockPaddingV : 'p-v-s' %}#}
        {#{% set bMargin = block['blockMarginV'] is defined and block.blockMarginV is not empty ? 'm-v-' ~ block.blockMarginV : 'm-v-s' %}#}
        {% set bIcon = block['blockIcon'] is defined and block.blockIcon is not empty ? block.blockIcon %}
        {% set bTitle = block['blockTitle'] is defined and block.blockTitle is not empty ? block.blockTitle %}
        {% set bContainer = block['blockContainer'] is defined and block.blockContainer == 1 ? 1 : 0 %}
        {% set bRequest = block['blockRequest'] is defined and block.blockRequest == 1 ? 1 : 0 %}
        {% set bLink = block['blockLink'] is defined and block.blockLink|length ? block.blockLink %}
        {% set iconTheme = block['blockIconTheme'] is defined and block.blockIconTheme|length ? block.blockIconTheme[0] %}
        {% set mono = block['blockTheme'] is defined and block.blockTheme|length ? 'multi' : 'icon--mono' %}
        {% set tmpl =  block['blockTemplate'] is defined and block.blockTemplate is not empty ? block.blockTemplate : '' %}
        {#{% set tagged = entry.taglist %}#}

        {% set hideDate= block['blockHideDate'] is defined and block.blockHideDate == 1 ? 1 : 0 %}
        {% set hideShort= block['blockHideShort'] is defined and block.blockHideShort == 1 ? 1 : 0 %}



        {% if block.type == "sectionDivider" %}
            {% set pv = '0' %}
            {% set mv = '0' %}
        {% else %}
            {% set pv = pTheme.paddingV is defined ? pTheme.paddingV %}
            {% set mv = pTheme.marginV is defined ? pTheme.marginV %}
        {% endif %}

        {% if block.type == "sectionDivider" %}
            <hr class="line-{{ block.blockContainer }}"/>
        {% else %}


{#{% if matrix.blocks|length>1 %}<md-tab id="{{ block.type }}" name="{{ block.type }}" md-label="{{ block.blockTitle ? block.blockTitle : ''}}">{% endif %}#}

            <section class="section bottom-section {{ pv is defined and pv is not empty ? 'p-v-' ~ pv }} {{ mv is defined and mv is not empty ? 'm-v-' ~ mv }} {{ bTheme }}">

                {% if iconTheme %}
                    <div class="block-icon bg-icon icons--themed {{ mono }} icon-color--{{ iconTheme.styleIconColor and bTheme != '' ? iconTheme.styleIconColor : 'ht' }} scale--{{ iconTheme.styleIconSize | default('x1') }} icon-sw--{{ iconTheme.styleIconLine | default('x1') }} icon-ani--{{ iconTheme.styleIconAnimation | default('draw') }} animated align--{{ iconTheme.styleIconAlign | default('left') }} valign--{{ iconTheme.styleIconAlignV | default('bottom') }}">{{ iconTheme.styleIcon ? iconTheme.styleIcon.inline }}</div>
                {% endif %}

                {#{% if bTitle|length and not (tmpl == '_list.html') %}#}
                    {#<div class="ctr wrapper t-color">#}
                        {#<div class="section-title">{{ bTitle }}</div>#}
                    {#</div>#}
                {#{% endif %}#}

                {% if bContainer == 1 or block.type == "sectionJobs" %}
                <div class="ctr section-content">{% endif %}

                    {% if block.type == "sectionDocs" %}
                        {% set docs = block.blockContent|length ? block.blockContent %}
                        {% if docs is defined %}
                            {% set templ = "docs/" ~ tmpl %}
                            {% include templ %}
                        {% endif %}
                    {% endif %}

                    {% if block.type == "sectionNav" %}
                        {% set navs = block.blockContent|length ? block.blockContent %}
                        {% if navs is defined %}
                            {% set list_subhead=bTitle %}
                            {% set templ = "nav/" ~ tmpl %}
                            {% include templ %}
                        {% endif %}
                    {% endif %}

                    {% if block.type == "sectionPublications" and cot != 'category' and not hideBottom %}
                        {% set perpage = block.blockPerPage is not empty ? block.blockPerPage : 3 %}
                        {% if block.blockSource == 'last' %}
                            {% set news = craft.entries.section('publications').limit(perpage) %}
                        {% elseif block.blockSource == 'added' and block.blockContent|length %}
                            {% set news = block.blockContent|length ? block.blockContent %}
                        {% elseif block.blockSource == 'tagged' %}
                            {% set news = craft.entries.section('publications').relatedTo(tagged).id('not ' ~ entry.id).limit(perpage) %}
                            {% if news|length<2 %}
                                {#{% set news = craft.entries.section('publications').relatedTo('not',tagged).id('not ' ~ entry.id).limit(3) %}#}
                                {#{% set news = news|merge(lastnews) %}#}
                                {% set news = craft.entries.section('publications').id('not ' ~ entry.id).limit(3) %}

                            {% endif %}
                        {% endif %}
                        {% if news is defined %}
                            {% set nox2 = true %}
                            {% if news|length<4 %}
                                {% set templ = "publications/_list-cards.html" %}
                            {% else %}
                                {% set templ = "publications/" ~ tmpl %}
                            {% endif %}
                            {% include templ %}
                        {% endif %}
                    {% endif %}


                    {% if block.type == "sectionInfogs" %}
                        {% set infogs = block.blockContent|length ? block.blockContent %}
                        {% if infogs is defined %}
                            {% set templ = "infogs/" ~ tmpl %}
                            {% include templ %}
                        {% endif %}
                    {% endif %}


                    {% if block.type == "sectionBanners" %}
                        {% set banners = block.relatedItems|length ? block.relatedItems %}
                        {% if banners is defined and banners|length > 1 %}
                            {% include "banners/_swiper.html" with {'banners':banners} %}
                        {% elseif block.relatedItems|length == 1 %}
                            {% set many = false %}
                            {% set banner = banners[0] %}
                            {% include "banners/_block.html" with {'banner':banner} %}
                        {% endif %}
                    {% endif %}


                    {% if block.type == "sectionHtml" and (block.blockTitle or block.blockContent) %}
                        {% if block.blockContent %}
                            <div class="section-content html-content t-color">{{ block.blockContent }}</div>
                        {% endif %}
                    {% endif %}




                {% if bContainer == 1 or block.type == "sectionJobs"%}
                </div>
                {% endif %}

                {% if bLink|length or bRequest == 1 %}
                    <div class="ctr">
                        <div class="grid">
                            <div class="col-12 actions">
                                {% for item in bLink %}
                                    <md-button class="md-raised" href="{{ item.url }}">{{ item.title }}</md-button>
                                {% endfor %}
                                {% if bRequest ==1 %}
                                    {% include 'inc/_request-button.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

            </section>
        {#{% if matrix.blocks|length>1 %}</md-tab>{% endif %}#}
        {% endif %}
    {% endfor %}
    {#{% if matrix.blocks|length>1 %}</md-tabs>{% endif %}#}
{% endif %}
