{% if block.blockSource == 'added' and block.blockContent|length %}
    {% set docs = block.blockContent %}
{% elseif block.blockSource == 'related' %}
    {% set docs = entry.relatedDocs is defined and entry.relatedDocs|length ? entry.relatedDocs %}
{% else %}
{% endif %}


{#{% set docs = block.blockContent|length ? block.blockContent %}#}
{% if docs is defined %}
    {% if block['isSwiper'] is defined and block.isSwiper == 1 %}
        {% set classes = ' swiper--cards ' %}
        {% set arrows = 0 %}
        {% set perview = 'auto' %}
        {% set centered = 1 %}
        {% set loop = 'false' %}
        {% set swiperData = docs %}
        {% set cardTemplate = 'docs/_card.html' %}

        {% include "_swiper/_swiper.html" %}

    {% else %}
        {% set templ = "docs/" ~ tmpl %}
        {% include templ %}
    {% endif %}
{% endif %}