{% if block.blockSource == 'bytag' %}
    {% set projects = craft.entries.section('projects').relatedTo(tagged).limit(10) %}
{% elseif block.blockSource == 'related' and entry.relatedProjects|length %}
    {% set projects = entry['relatedProjects'] is defined and entry.relatedProjects|length ? entry.relatedProjects %}
{% elseif block.blockSource == 'added' and block.blockContent|length %}
    {% set projects = block.blockContent|length ? block.blockContent %}
{% else %}
    {% set projects = craft.entries.section('projects').relatedTo(tagged).limit(10) %}
{% endif %}

{% if projects is defined %}
    {% if block['isSwiper'] is defined and block.isSwiper == 1 %}
        {% set swiperData = projects %}
        {% set classes = ' swiper--cards ' %}
        {% set cardTemplate = 'projects/_card.html' %}
        {% include "_swiper/_swiper.html" %}
    {% else %}
        {% set templ = tmpl is not empty ? "projects/" ~ tmpl : "projects/_list-collapse.html" %}
        {% include templ %}
    {% endif %}

{% endif %}