<md-sidenav class="md-right md-sidenav-big" ref="rightSidenav" @open="open('Right')" @close="close('Right')">
    <md-toolbar>
        <div class="md-toolbar-container">
            <h3 class="md-title">{{ 'Make Request' | translate }}</h3>
        </div>
    </md-toolbar>
    <div class="sidebar-content">
        <form @submit.stop="">
            <md-input-container>
                <label>{{ 'Your Name'|t }}</label>
                <md-input placeholder="{{ 'Your Name'|t }}"></md-input>
            </md-input-container>
            <md-input-container>
                <label>{{ 'Your Position'|t }}</label>
                <md-input placeholder="{{ 'Your Position'|t }}"></md-input>
            </md-input-container>
            <md-input-container>
                <label>{{ 'Company'|t }}</label>
                <md-input placeholder="{{ 'Company'|t }}"></md-input>
            </md-input-container>
            <md-input-container>
                <label>{{ 'Region'|t }}</label>
                <md-input placeholder="{{ 'Region'|t }}"></md-input>
            </md-input-container>
            <md-input-container>
                <label>{{ 'Your Industry'|t }}</label>
                <md-input placeholder="{{ 'Your Industry'|t }}"></md-input>
            </md-input-container>
            <md-input-container>
                <label>{{ 'Services you are interested'|t }}</label>
                <md-select name="users" id="users" multiple>
                    {#<md-subheader>Managers</md-subheader>#}
                    <md-option value="jim_halpert">Jim Halpert</md-option>
                    <md-option value="dwight_schrute">Dwight Schrute</md-option>
                    <md-option value="michael_scott">Michael Scott</md-option>
                    {#<md-subheader>Employees</md-subheader>#}
                    <md-option value="pam_beesly">Pam Beesly</md-option>
                    <md-option value="angela_martin">Angela Martin</md-option>
                    <md-option value="kelly_kapoor">Kelly Kapoor</md-option>
                    <md-option value="ryan_howard">Ryan Howard</md-option>
                    <md-option value="kevin_malone">Kevin Malone</md-option>
                    <md-option value="creed_bratton">Creed Bratton</md-option>
                    <md-option value="oscar_nunez">Oscar Nunez</md-option>
                    <md-option value="toby_flenderson">Toby Flenderson</md-option>
                    <md-option value="stanley_hudson">Stanley Hudson</md-option>
                    <md-option value="meredith_palmer">Meredith Palmer</md-option>
                    <md-option value="phyllis_lapin_vance">Phyllis Lapin-Vance</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                {#<md-icon>settings_phone</md-icon>#}
                <label>{{ 'Your Phone'|t }}</label>
                <md-input placeholder="{{ 'Your Phone'|t }}"></md-input>
            </md-input-container>
            <md-input-container>
                {#<md-icon>mail_outline</md-icon>#}
                <label>{{ 'Your E-mail'|t }}</label>
                <md-input placeholder="{{ 'Your E-mail'|t }}"></md-input>
            </md-input-container>
            <md-button class="md-primary md-raised">{{ 'Submit'| t}}</md-button>
        </form>
    </div>
    <md-bottom-bar>
        <md-bottom-bar-item md-icon="call" href="{{ 'tel:' ~ globalContacts.contactTel1| replace (' ','') }}">{{ 'Call'|translate }}</md-bottom-bar-item>
        <md-bottom-bar-item md-icon="email" href="{{ 'mailto:' ~ globalContacts.contactEmail| replace (' ','') }}">{{ 'E-mail'|translate }}</md-bottom-bar-item>
        <md-bottom-bar-item md-icon="place">{{ 'Offices' | t }}</md-bottom-bar-item>
    </md-bottom-bar>

    {#<md-button class="md-raised md-accent" @click.native="closeRightSidenav">{{ 'Close' | translate }}</md-button>#}
</md-sidenav>


{#'Your Name'=>'Фамилия Имя Отчество',#}
{#'Your Position'=>'Ваша должность',#}
{#'Company'=>'Название компании',#}
{#'Region'=>'Регион',#}
{#'Your Industry'=>'Сфера деятельности',#}
{#'Services you are interested'=>'Интересующие Вас услуги',#}
{#'Your Phone'=>'Контактный телефон',#}
{#'Your E-mail'=>'E-mail',#}