{% extends "_page.html" %}
{% set headerProvider = 'category' %}
{% set perPage = 10 %}

{% paginate craft.entries.section('publications').relatedTo(category).limit(perPage) as pageInfo, news %}

{% block content %}
    <section class="section">
        {% if news|length %}
            {% include "publications/_list-cards.html" %}
        {% endif %}
    </section>
{% endblock %}

{% block pager %}
    <md-layout class="md-container md-centered" md-gutter="40" md-row>
        {% if pageInfo.prevUrl %}
        <md-button href="{{ pageInfo.prevUrl }}" class="md-icon-button" title="{{ 'Previous Page' | translate }}">
                <md-icon>arrow_back</md-icon></md-button>{% endif %}
        <span class="md-flex"></span>
        {% if pageInfo.nextUrl %}
        <md-button href="{{ pageInfo.nextUrl }}" class="md-icon-button" title="{{ 'Next Page' | translate }}">
                <md-icon>arrow_forward</md-icon></md-button>{% endif %}
    </md-layout>
{% endblock %}