{% extends "_page.html" %}
{% set headerProvider = 'category' %}


{% set perPage = 3 %}

{% paginate craft.entries.section('publications').relatedTo(category).limit(perPage) as pageInfo, news %}


{% block content %}
    <section class="section">
        {#<md-layout class="md-container md-centered" md-gutter="40">#}
            {#<md-layout>#}
                {#<div class="wrapper">#}
                    {#{% if true %}#}
                        {#<div class="md-title section-title">{{ category.title }}</div>#}
                    {#{% endif %}#}
                {#</div>#}
            {#</md-layout>#}
        {#</md-layout>#}
        {% if news|length %}
            {% include "publications/_list-cards.html" %}
        {% endif %}
        <md-layout class="md-container md-centered" md-gutter="40">
            <md-layout>
                <div class="wrapper m-t-40">
                    {% if true %}
                        <md-button href="#0" class="md-raised md-white">Подобрать команду</md-button>
                    {% endif %}
                </div>
            </md-layout>
        </md-layout>
    </section>
{% endblock %}

{% block pager %}
    <md-layout class="md-container md-centered" md-gutter="40" md-row>
        {% if pageInfo.prevUrl %}
        <md-button href="{{ pageInfo.prevUrl }}" class="md-icon-button" title="{{ 'Previous Page' | translate }}">
                <md-icon>arrow_back</md-icon></md-button>{% endif %}
        <span class="md-flex"></span>
        {% if pageInfo.nextUrl %}
        <md-button href="{{ pageInfo.nextUrl }}" class="md-icon-button" title="{{ 'Next Page' | translate }}">
                <md-icon>arrow_forward</md-icon></md-button>{% endif %}
    </md-layout>
{% endblock %}