{% extends "_page.html" %}
{% block content %}
    <div class="main-column full-width service">
        {% if entry.Short|length or entry.fullText|length %}
            <section class="section">
                <div class="ctr">
                    <div class="grid">
                        <div class="col-12">
                            <div class="section-title">{{ entry.Short }}</div>
                            <div class="section-content html-content">{{ entry.fullText }}</div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% set matrix = globalService.serviceMatrix %}
        {% include('matrix/_matrix.html') %}

        {#{% set matrix = entry.pageMatrix %}#}
        {#{% include('matrix/_matrix.html') %}#}
    </div>
{% endblock %}