{% extends "_page.html" %}
{% set headerProvider = 'entry' %}

{% set headerTitle = entry.title %}

{% if entry.styleImg|length %}
    {% set headerImg = entry.styleImg.first().getUrl('resizeHeader') %}
{% endif %}
{% if entry.styleIcon %}
    {% set headerIcon = entry.styleIcon %}
{% endif %}
{% if entry.styleIconAlign %}
    {% set headerIconAlign = entry.styleIconAlign %}
{% endif %}


{% block content %}


    {#{% set nav = [] %}#}
    {#{% set menu  = craft.entries.section('menus').level(1) %}#}
    {#<ul>#}
    {#{% for item in menu %}#}
    {#{% if item.menuItem.blocks|length %}#}
    {#{% set pUrl = null %}#}
    {#{% if item.menuItem.blocks[0].type == 'LinkEntry' %} {% set pUrl = item.menuItem.blocks[0].entryTarget[0].url %} {% endif %}#}
    {#{% if item.menuItem.blocks[0].type == 'LinkUrl' %} {% set pUrl = item.menuItem.blocks[0].toUrl %} {% endif %}#}
    {#<li>{{ item.title }} {{ pUrl }}#}
    {#{% set children = [] %}#}
    {#{% if item.getDescendants().total() != 0 %}#}
    {#{% set subitems = item.getChildren() %}#}
    {#<ul>#}
    {#{% for subitem in subitems %}#}
    {#{% set cUrl = null %}#}
    {#{% if subitem.menuItem.blocks[0].type == 'LinkEntry' %} {% set cUrl = subitem.menuItem.blocks[0].entryTarget[0].url %} {% endif %}#}
    {#{% if subitem.menuItem.blocks[0].type == 'LinkUrl' %} {% set cUrl = subitem.menuItem.blocks[0].toUrl %} {% endif %}#}
    {#<li>{{ subitem.title }} {{ cUrl }}</li>#}
    {#{% set children = children | merge([{'title':subitem.title,'url':cUrl}]) %}#}
    {#{% endfor %}#}
    {#{{ dump(children) }}#}
    {#</ul>#}
    {#{% endif %}#}
    {#{% set nav = nav | merge([{'title':item.title,'url':pUrl,'children':children}]) %}#}
    {#&#123;&#35;{% set nav = nav | merge({'title':item.title,'url':pUrl}) %}&#35;&#125;#}
    {#</li>#}
    {#{% endif %}#}
    {#{% endfor %}#}
    {#</ul>#}
    {#<hr/>#}
    {#<ul>#}
    {#{% nav item in nav %}#}
    {#<li>{{ item.title }} / {{ item.url }}#}
    {#<ul>#}
    {#{% nav sitem in item.children %}#}
    {#<li>{{ sitem.title }} / {{ sitem.url }}</li>#}
    {#{% endnav %}#}
    {#</ul>#}
    {#</li>#}
    {#{% endnav %}#}
    {#</ul>#}
    {#<hr/>#}
    {#{{ dump(nav) }}#}
    {% include('matrix/_matrix.html') %}

    {#PERSONS#}

    {% set persons  = entry.relatedPersons %}
    {% if persons|length %}
        <section class="section">
            <md-layout class="md-container md-centered" md-gutter="40">
                <md-layout>
                    <div class="wrapper">
                        {% if true %}
                            <div class="md-title section-title">{{ 'Key experts' | t }}</div>
                        {% endif %}
                    </div>
                </md-layout>
            </md-layout>
            {#{% include('persons/_swiper-cards.html') %}#}
            {% include "persons/_list-cards.html" %}
            <md-layout class="md-container md-centered" md-gutter="40">
                <md-layout>
                    <div class="wrapper m-t-40">
                        {% if true %}
                            <md-button href="#0" class="md-raised md-white">Подобрать команду</md-button>
                        {% endif %}
                    </div>
                </md-layout>
            </md-layout>
        </section>
    {% endif %}

    {#DOCS#}

    {% set docs  = entry.relatedDocs %}
    {% if docs|length %}
        <section class="section bg-md-primary-no">
            <md-layout class="md-container md-centered" md-gutter="40">
                <md-layout>
                    <div class="wrapper">
                        {% if true %}
                            <div class="md-title section-title">{{ 'Downloads' | t }}</div>
                        {% endif %}
                    </div>
                </md-layout>
            </md-layout>
            {#{% include('docs/_swiper-cards.html') %}#}
            {% include "docs/_list-cards.html" %}
        </section>
    {% endif %}

    {#QUOTES#}

    {% set quotes  = entry.relatedQuotes %}
    {% if quotes|length %}
        <section class="section">
            <md-layout class="md-container md-centered" md-gutter="40">
                <md-layout>
                    <div class="wrapper">
                        {% if true %}
                            <div class="md-title section-title">{{ 'Quotes' | t }}</div>
                        {% endif %}
                    </div>
                </md-layout>
            </md-layout>
            {% include('quotes/_swiper-full.html') %}
        </section>
    {% endif %}

{% endblock %}