<md-card>
    <md-card-expand>
        {#<md-card-header>#}
            {#<div class="md-title">Заголовок<br>asdasdas<br/>asdsada</div>#}
        {#</md-card-header>#}
        <md-button class="md-icon-button" md-expand-trigger>
            <md-icon>keyboard_arrow_down</md-icon>
        </md-button>
        <md-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non, voluptas eius illo quas, saepe voluptate pariatur in deleniti minus sint. Excepturi.
        </md-card-content>
    </md-card-expand>
</md-card>