<div class="col">
    <md-card class="card--job md-with-hover">
        <md-card-area class="md-flex">
            <md-card-content>
                <h3 class="md-title"><a href="{{ item.url }}">{{ item.title }}</a></h3>

                <div class="md-subhead">{{ item.jobCategory[0].title }}</div>
                {#<div class="md-content-text">{{ item.jobTarget }}</div>#}
            </md-card-content>
        </md-card-area>
        <md-card-expand>
            <md-card-actions>
                <md-button href="{{ item.url }}">{{ 'Show More'|t }}</md-button>
                <span class="md-flex"></span>
                {#<md-button class="md-icon-button" href="{{ item.url }}">#}
                    {#<md-icon>chevron_right</md-icon>#}
                {#</md-button>#}
                <md-button class="md-icon-button" md-expand-trigger>
                    <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
            </md-card-actions>
            <md-card-content>
                <div class="md-content-text">{{ item.jobTarget }}</div>
            </md-card-content>
        </md-card-expand>
    </md-card>
</div>