{% extends "_page.html" %}
{% block content %}
    {#<section class="section">#}
    <div class="ctr">
        <div class="grid">
            <div class="col-8_xs-12_sm-">
                <section class="section p-v- m-v- ">
                    <div class="section-title">{{'Цель позиции'}}</div>
                    <div class="html-content">{{ entry.jobTarget }}</div>
                    <div class="section-title">{{'Основные обязанности'}}</div>
                    <div class="html-content">{{ entry.jobDuties }}</div>
                    <div class="section-title">{{'Профессиональные требования'}}</div>
                    <div class="html-content">{{ entry.jobRequire }}</div>
                    <div class="section-title">{{'Условия'}}</div>
                    <div class="html-content">{{ entry.jobConditions }}</div>
                </section>
            </div>
            <div class="col-4">
                <section class="section p-v- m-v- ">
                    1
                </section>
            </div>
        </div>
    </div>
    {#</section>#}
{% endblock %}