<md-whiteframe md-elevation="6">
    <header class="page-header has-ripple">
        <md-toolbar class="height--{{ headerHeight }}">

            {% if headerImg is defined%}
                <div class="block-img" style="background-image:url({{ headerImg.getUrl() }})"></div>
            {% endif %}
            {% if headerIcon %}
                <div class="block-icon icon-color--{{ headerIconColor }} icon-ani--{{ headerIconAnimation }} animated align--{{ headerIconAlign }} valign--{{ headerIconAlignV }} scale--{{ headerIconSize }} icon-sw--{{ headerIconLine }}">{{ headerIcon.inline }}</div>
            {% endif %}

            <div id="navbar">
                <div class="md-toolbar-container">
                    <md-button class="md-icon-button md-hide-medium-and-up" @click.native="toggleLeftSidenav">
                        <md-icon>menu</md-icon>
                    </md-button>
                    <span class="md-flex"></span>
                    {{ include("menus/_navbar-menu.html") }}
                    <md-button class="md-icon-button">
                        <md-icon>search</md-icon>
                    </md-button>
                    <md-menu md-direction="bottom left" md-size="3">
                        {{ include("inc/_lang.html") }}
                    </md-menu>
                </div>
            </div>

            <div class="header-container header-top">
                {#logo#}
            </div>
            <div class="header-container header-bottom">
                <h1 class="header-title">{% if headerTitle is defined %}{{ headerTitle }}{% else %}{{ siteName }}{% endif %}</h1>
                {{ include("menus/_submenu-header.html") }}
            </div>

            {#<md-ink-ripple/>#}

        </md-toolbar>
    </header>
</md-whiteframe>
