<md-whiteframe md-elevation="0">
    <header class="page-header has-ripple">
        <md-toolbar class="height--{{ headerHeight }}">

            {% if headerImg is defined and not hBanners %}
                <div class="block-img backdrop-1" style="background-image:url({{ headerImg.getUrl() }})"></div>
            {% endif %}
            {% if headerIcon and not hBanners %}
                <div class="block-icon icon-color--{{ headerIconColor }} icon-ani--{{ headerIconAnimation }} animated align--{{ headerIconAlign }} valign--{{ headerIconAlignV }} scale--{{ headerIconSize }} icon-sw--{{ headerIconLine }}">{{ headerIcon.inline }}</div>
            {% endif %}

            {% if hBanners|length %}
                {% set banners = hBanners %}
                <div class="block-banners">
                    {% include "banners/_swiper.html" %}
                </div>
            {% endif %}

            <div id="navbar" class="is-fixed">
                <div class="md-toolbar-container">
                    <div id="logo">
                        <a href="{{ siteUrl }}" class="logo logo-l" style="background-image:url('{{ craft.config.environmentVariables.baseUrl }}assets/img/logo_full-w.svg')"></a>
                        {#<a href="{{ siteUrl }}" class="logo logo-m" style="background-image:url('{{ craft.config.environmentVariables.baseUrl }}assets/img/logo-w.svg')"></a>#}
                    </div>
                    <span class="md-flex"></span>
                    {{ include("menus/_navbar-menu.html") }}
                    <md-button class="md-icon-button">
                        <md-icon>search</md-icon>
                    </md-button>
                    <md-menu md-direction="bottom left" md-size="3">
                        {{ include("inc/_lang.html") }}
                    </md-menu>
                    <md-button class="md-icon-button md-hide-medium-and-up" @click.native="toggleLeftSidenav">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
            </div>


            <div class="header-bottom">
                <div class="ctr">
                    <div class="grid">
                        <div class="col-11_xs-12_sm-12">
                            {% if not hBanners %}
                                <h1 class="header-title {{ entry is defined and (entry.type == 'typePublication' or entry.type == 'typeEvent') ? 'publication-title' }}">{% if headerTitle is defined %}{{ headerTitle }}{% else %}{{ siteName }}{% endif %}</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {#<div class="divider-line"></div>#}
                {##}
                {#<div class="grid header-container grid-noWrap-middle article-info">#}
                {#<div class="col-6">#}
                {#<span><md-icon>access_time</md-icon>{{ entry.postDate.localeDate() }}</span>#}
                {#<span><a href="{{ entry.publicationCategory[0].url }}">{{ entry.publicationCategory[0].title }}</a></span>#}
                {#</div>#}
                {#<div class="col-6 text-right">#}
                {#<md-button class="md-icon-button">#}
                {#<md-icon>share</md-icon>#}
                {#</md-button>#}
                {#</div>#}
                {#</div>#}
                <div class="header-submenu-container">
                    <div class="ctr">
                        <div class="grid">
                            <div class="col-12">
                                {{ include("menus/_submenu-header.html") }}
                                {#{{ include("menus/_header-fab.html") }}#}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {#<md-ink-ripple/>#}


        </md-toolbar>
    </header>
</md-whiteframe>
