{% extends "_page.html" %}
{% set headerProvider = 'entry' %}

{% set headerTitle = entry.title %}

{% if entry.styleImg|length %}
    {% set headerImg = entry.styleImg.first().getUrl('resizeHeader') %}
{% endif %}
{% if entry.styleIcon %}
    {% set headerIcon = entry.styleIcon %}
{% endif %}
{% if entry.styleIconAlign %}
    {% set headerIconAlign = entry.styleIconAlign %}
{% endif %}


{% block content %}


    {#{% set nav = [] %}#}
    {#{% set menu  = craft.entries.section('menus').level(1) %}#}
    {#<ul>#}
    {#{% for item in menu %}#}
    {#{% if item.menuItem.blocks|length %}#}
    {#{% set pUrl = null %}#}
    {#{% if item.menuItem.blocks[0].type == 'LinkEntry' %} {% set pUrl = item.menuItem.blocks[0].entryTarget[0].url %} {% endif %}#}
    {#{% if item.menuItem.blocks[0].type == 'LinkUrl' %} {% set pUrl = item.menuItem.blocks[0].toUrl %} {% endif %}#}
    {#<li>{{ item.title }} {{ pUrl }}#}
    {#{% set children = [] %}#}
    {#{% if item.getDescendants().total() != 0 %}#}
    {#{% set subitems = item.getChildren() %}#}
    {#<ul>#}
    {#{% for subitem in subitems %}#}
    {#{% set cUrl = null %}#}
    {#{% if subitem.menuItem.blocks[0].type == 'LinkEntry' %} {% set cUrl = subitem.menuItem.blocks[0].entryTarget[0].url %} {% endif %}#}
    {#{% if subitem.menuItem.blocks[0].type == 'LinkUrl' %} {% set cUrl = subitem.menuItem.blocks[0].toUrl %} {% endif %}#}
    {#<li>{{ subitem.title }} {{ cUrl }}</li>#}
    {#{% set children = children | merge([{'title':subitem.title,'url':cUrl}]) %}#}
    {#{% endfor %}#}
    {#{{ dump(children) }}#}
    {#</ul>#}
    {#{% endif %}#}
    {#{% set nav = nav | merge([{'title':item.title,'url':pUrl,'children':children}]) %}#}
    {#&#123;&#35;{% set nav = nav | merge({'title':item.title,'url':pUrl}) %}&#35;&#125;#}
    {#</li>#}
    {#{% endif %}#}
    {#{% endfor %}#}
    {#</ul>#}
    {#<hr/>#}
    {#<ul>#}
    {#{% nav item in nav %}#}
    {#<li>{{ item.title }} / {{ item.url }}#}
    {#<ul>#}
    {#{% nav sitem in item.children %}#}
    {#<li>{{ sitem.title }} / {{ sitem.url }}</li>#}
    {#{% endnav %}#}
    {#</ul>#}
    {#</li>#}
    {#{% endnav %}#}
    {#</ul>#}
    {#<hr/>#}
    {#{{ dump(nav) }}#}



    {% include('matrix/_matrix.html') %}
{% endblock %}